@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
    height: 100vh;
    margin: 0;
    text-align: center;
    font-size: 24pt;
}

.calculator {
    height: 100%;
    margin: 0 auto;
    max-width: 375px;
    max-height: 450px;
    border-style: solid;
    border-color: blue;
}

.output {
    box-sizing: border-box;
    color: #fd999a;
    font-size: 30pt;
    height: 20%;
    padding: 4% 10% 5%;
    text-align: right;
}

.button {
    box-sizing: border-box;
    cursor: pointer;
    float: left;
    height: 20%;
    padding: 5%;
    transition: .5s;
    width: 25%;
}

.button:hover {
    background: darkgrey;
    color: #fff;
}

.accent:hover {
    color: #fd999a;
}

.submit:hover {
    background: #fd999a;
}